# Question 4
- Under package nps_chat, see what files are in it.
- Find 'user121' and see how many posts he posted in all.
- Find out how many unique user in each age range group.

In [1]:
import pandas as pd
from nltk.corpus import nps_chat
import re
print('In nps_chat package of NLTK following files are present')
files = nps_chat.fileids()
df = pd.DataFrame(data=files, index=range(1, len(files) + 1), columns=['Files in nps_chat Package'])
df.style # Styles the dataframe with index and Column names, border

In nps_chat package of NLTK following files are present

# Assuming all "User121" are single person

In [2]:
numpost = 0
for ind_file in files: # ENumerating all files in this package nps_chat
    posts = nps_chat.xml_posts(ind_file)
    for p in posts:
        if (p.attrib['user']).endswith('User121'): # p.attrib gives the full username from xml post
            numpost = numpost + 1
            
print("Number of posts by 'User121': ", numpost)

Number of posts by 'User121':  132

# Distributing all "User121" according to their age group

In [3]:
patterns_list = [".*teens.*", ".*20s.*", ".*30s.*", ".*40s.*", ".*adults.*"] # Patterns that are in XML for username
df = pd.DataFrame(data=patterns_list, index= range(1, len(patterns_list) + 1), columns=['Age group']) # Created a dataframe out of it 
numpost = 0
userlist = [] # An empty list to store result
for pattern in patterns_list:
    for ind_file in files:
        if re.match(pattern, ind_file) is not None: # Matching with the required pattern for each file
            posts = nps_chat.xml_posts(ind_file)
            for p in posts:
                if (p.attrib['user']).endswith('User121'): 
                    numpost = numpost + 1
    userlist.append(numpost) # Adding result data to the list
    numpost = 0

df1 = pd.DataFrame(data=userlist, index= range(1, len(userlist) + 1), columns=["Posts by 'User121'"]) # Created dataframe out of result list
df1 = pd.concat([df,df1], axis=1) # Concatenate two different dataframes
print("'User121' for each range group: ")
df1.style

'User121' for each range group:

# Unique users in each age range group

In [4]:
user_set = set()
unique_user_list = [] # An empty list to store result
for pattern in patterns_list:
    for ind_file in files:
        if re.match(pattern, ind_file) is not None: # Matching with the required pattern for each file
            posts = nps_chat.xml_posts(ind_file)
            for p in posts:
                user_set.add(p.attrib['user'])

    unique_user_list.append(len(user_set)) # Adding result data to the list
    user_set = user_set - user_set

df1 = pd.DataFrame(data=unique_user_list, index= range(1, len(unique_user_list) + 1), columns=["Unique Users"]) # Created dataframe out of result list
df = pd.concat([df,df1], axis=1) # Concatenate two different dataframes
print("Unique users for each group are: ")
df.style

Unique users for each group are: