In [1]:
import pandas as pd
import os
df = pd.read_csv("Data/employee_compensation.csv")

In [2]:
# Filtering records containing Calendar only 
df = df[df['Year Type'] == 'Calendar']

In [3]:
# Keeping only required columns in this part
df = pd.concat([df['Job Family'], df['Employee Identifier'], df['Salaries'], 
                df['Overtime'], df['Total Benefits'], df['Total Compensation']], axis=1)

In [4]:
#Grouping records and calculating avereage 
grouped = df.groupby(['Employee Identifier'])
df_out = pd.DataFrame({'Avg_Salaries' : grouped['Salaries'].mean(),
                      'Avg_Overtime':grouped['Overtime'].mean(),}).reset_index()
df_out = df_out[df_out['Avg_Overtime'] >= (df_out['Avg_Salaries'] * 0.05)]

In [5]:
df_out.head()

    Employee Identifier  Avg_Overtime  Avg_Salaries
2                     3      964.8300    13722.0000
5                     6    33892.2000   133842.7700
7                     8     4106.9325    52510.0800
17                   18    27338.1125    70408.0950
19                   20     5763.4150    56586.1325

In [6]:
df = pd.merge(df,df_out, how='inner', on='Employee Identifier')
grouped = df.groupby(['Job Family'])
df_out = pd.DataFrame({'Avg_Total_Benefits' : grouped['Total Benefits'].mean(),
                      'Avg_Total_Compensation':grouped['Total Compensation'].mean()}).reset_index()
df_out['Percent_Total_Benefit'] = (df_out['Avg_Total_Benefits'] * 100) / df_out['Avg_Total_Compensation']
df_out = df_out.sort_values(by=['Percent_Total_Benefit'], ascending=False)
df_out.head(5)

,Job Family,Avg_Total_Benefits,Avg_Total_Compensation,Percent_Total_Benefit
40,Public Service Aide,10204.543132,28384.762679,35.950778
28,Park & Zoo,19939.636765,58318.246765,34.191077
22,Library,5822.350714,17104.242143,34.040390
26,Museum & Cultural Affairs,27037.390000,83926.070000,32.215723
43,Revenue,15971.702059,49657.099118,32.163985

In [7]:
# Dump output to a CSV file
if not os.path.exists("Output"):
    os.makedirs("Output")
df_out.to_csv('Output/employee_compensation_Part2.csv',index=False)